.about {
  margin-bottom: $space-6;
}

.about__photo {
  width: 8rem;
  height: 8rem;
  float: left;
  margin-right: $space-4;
}

.about__text {
  display: block;
  margin-top: $space-4;
}

.about__text--through {
  text-decoration: line-through;
}

.about__stack {
  @extend .grid;

  grid-template-columns: repeat(4, 1fr);
  width: 10rem;
  margin-top: $space-4;
}

.about__interests {
  @extend .grid;

  grid-template-columns: repeat(5, 1fr);
  width: 12.5rem;
  margin-top: $space-4;
}

@media (min-width: $wt) {
  .about {
    display: flex;
  }

  .about__photo {
    min-width: $wt-container-left;
    height: $ht-photo;
    float: none;
    margin-right: $space-6;
    margin-bottom: $space-6;
  }
}
