.content {
  min-width: $wm;
  max-width: $wt;

  height: calc(100vh - calc((var(--space-6) * 2)));

  margin-top: $space-6;
  margin-bottom: $space-6;

  box-shadow:
    0 8px 16px rgba(110, 120, 130, 0.12),
    0 -8px 16px rgba(110, 120, 130, 0.12);
}

@media (min-width: $wt) {
  .content {
    max-width: $wd;
  }
}

@media (min-width: $wd) {
  .content {
    max-width: $wd;
  }
}
