@import "../mixins/decorations";

.constacts {
  width: $wt-container-left;
  display: flex;
  flex-direction: column;
  margin-bottom: $space-6;
}

.contact__title {
  margin-bottom: $space-4;
}

.contacts__list {
  @extend .lisn;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__additional-element {
  display: flex;
}

.contacts__contact {
  margin-bottom: $space-4;
}

.contacts__link--main {
  display: flex;
  align-items: center;

  @include link("gray");
}


.contacts__link--additional {
  margin-right: $space-4;
}

.contacts__icon {
  margin-right: $space-4;
}

@media (min-width: $wt) {
  .constacts {
    margin-bottom: 0;
  }

}

@media (min-width: $wd) {
  .constacts {
    margin-bottom: $space-6;
  }
}
