.education {
  margin-top: $space-6;
  width: $wt-container-left;
}

.education__title {
  margin-bottom: $space-4;
}

.education__info {
  display: flex;
  flex-direction: column;
}

.education__info-university,
.education__info-faculty,
.education__info-speciality {
  color: var(--primary-400);
  font-weight: 600;
}

.education__info-faculty,
.education__info-speciality {
  margin-top: $space-4;
}
