.technologies {
  margin-top: $space-6;
  width: $wt-container-left;
}

.technologies__title {
  margin-bottom: $space-4;
}

.technologies__block {
  @extend .grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: $space-4;
}
