.timeline {
  width: 0.5rem;
  height: 30rem;
}

.info {
  height: 5rem;
}

.info_left {
  margin-bottom: 5rem;
}

.info_right {
  margin-top: 5rem;
}

.period {
  border-bottom: 4px solid var(--primary-300);
}
