body {
  min-width: $wm;
  margin: 0;
  padding: 0;

  font-family: $font-main;
  font-size: $fs-base;
  font-weight: normal;
  line-height: 1.25rem;
}

.body-light {
  background-color: var(--light);
  color: var(--grey);
}

.body-dark {
  background-color: var(--grey);
  color: var(--light);
}

:root {
  --module: #{$module};

  --space-1: #{$space-1};
  --space-2: #{$space-2};
  --space-3: #{$space-3};
  --space-4: #{$space-4};
  --space-5: #{$space-5};
  --space-6: #{$space-6};
}
