.icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.icon_x1 {
  width: 1rem;
  height: 1rem;
}

.icon_x1h {
  width: 1.5rem;
  height: 1.5rem;
}

.icon_x2 {
  width: 2rem;
  height: 2rem;
}

.icon_x2h {
  width: 2.5rem;
  height: 2.5rem;
}

.icon_x3 {
  width: 3rem;
  height: 3rem;
}

.icon_square,
.icon_round {
  padding: 3px;
  border: 1px solid transparent;
}

.icon_round {
  border-radius: 50%;
}
