.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-2 {
  margin-top: $space-2;
}

.mt-4 {
  margin-top: $space-4;
}

.mr-4 {
  margin-right: $space-4;
}

.mb-4 {
  margin-bottom: $space-4;
}

.ml-4 {
  margin-left: $space-4;
}

.m-4 {
  @extend .mt-4;
  @extend .mr-4;
  @extend .mb-4;
  @extend .ml-4;
}

.mt-6 {
  margin-top: $space-6;
}

.mr-6 {
  margin-right: $space-6;
}

.mb-6 {
  margin-bottom: $space-6;
}

.my-6 {
  @extend .mt-6;
  @extend .mb-6;
}

.p-6 {
  padding: $space-6;
}
