.icon {
  display: block;
}

.icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.icon__size--x1 {
  width: $all-icon__size--x1;
  height: $all-icon__size--x1;
}

.icon__size--x1h {
  width: $all-icon__size--x1h;
  height: $all-icon__size--x1h;
}

.icon__size--x2h {
  width: $all-icon__size--x2h;
  height: $all-icon__size--x2h;
}
