/**
 * List of variables
 */
$module: 8px;

/**
 *  Vieport sizes
 */
$wm: 320px;
$wt: 768px;
$wd: 1280px;

/**
 * Colors
 */
$light: #FFFFFF;
$dark: #000000;
$grey: #333333;

/**
 * Fonts
 */
$font-main: "Open Sans", "Arial", sans-serif;
