$module: 8px;

$wm: 320px;
$wm-sm: 384px;
$wm-md: 478px;
$wm-lg: 512px;
$wm-xl: 640px;
$wm-xxl: 704px;
$wt: 768px;
$wt-sm: 896px;
$wt-md: 960px;
$wt-lg: 1024px;
$wt-xl: 1088px;
$wt-xxl: 1152px;
$wt-xxxl: 1216px;
$wd: 1280px;

$light: #FFFFFF;
$dark: #000000;
$grey: #333333;

$font-main: "Open Sans", "Arial", sans-serif;

$transition-time-base: 300ms;
