$wm-photo: 8rem;
$all-timeline-tree: 8px;
$all-timeline-branch: 4px;

$wm-experience-block: 6rem;
$wm-xl-experience-block: 5rem;

$wt-container-left: 16rem;
$ht-photo: $wt-container-left;

$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.5rem;
$space-6: 2rem;
